@import "tailwindcss";

:root {
  --bg-color: #f8fafc;
  --text-color: #0f172a;
  --nav-bg: rgba(255, 255, 255, 0.8);
  --card-bg: #ffffff;
  --border-color: #e2e8f0;
  --sub-text: #475569;
}

.dark {
  --bg-color: #020617;
  --text-color: #f8fafc;
  --nav-bg: rgba(2, 6, 23, 0.8);
  --card-bg: #0f172a;
  --border-color: #1e293b;
  --sub-text: #94a3b8;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}